.img {
    height: 30px;
    width: 100px;
}

.profile {
    height: 50px;
    width: inherit;
}

.flex {
    display: flex;
}

.direction {
    flex-direction: column;
}

.logo {
    gap: 50px;
}

.profileGap {
    gap: 20px;
}

.radio-gap {
    gap: 5px;
}

.radio-button {
    margin: 0;
}

.background {
    background-color: gray;
}

.break-line {
    border: 1px solid whitesmoke;
}

.plus-button {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font {
    font-family: monospace;
}